<!DOCTYPE html>
<html>
  <head> 
    <meta content ="text/html; charset=UTF 8" http-equiv='Content-Type' />
    <meta content ="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <h1>Bem-vindo ao example.com, Gilberto Junior</h1>
    <p>
      Você está recebendo um e-mail
    </p>
  </body>
</html>